<div class="row white-bg ml-2 mb-2 mr-2 ModuleName">
    <div class="col-lg-4 Adjust">
        <h2 class="text-white">Sub Services</h2>
    </div>
    <div class="col-lg-8 Adjust">
        <button type="button" class="btn btn-w-m btn-secondary mt-3 mr-5 float-right" [hidden]="!showCancelButton" (click)="showhide('Cancel')"><i class="fa fa-times "></i> Cancel </button>
        <button type="submit" class="btn btn-w-m btn-light mt-3 mr-2 text-black float-right" [hidden]="!showeditButton" (click)="addSubService()"><i class="fa fa-pencil"></i> Update </button>
        <button type="submit" class="btn btn-w-m btn-light mt-3 mr-2 text-black float-right" [hidden]="!showSaveButton" (click)="addSubService()"><i class="fa fa-check "></i>Save </button>
        <button type="button" class="btn btn-w-m btn-light mt-3 mr-5 text-black float-right" [hidden]="!shownewButton" (click)="showhide('New')"><i class="fa fa-plus"></i>
  Add New Sub Services </button>
    </div>
</div>
<form [formGroup]="subServicesForm" role="form">
    <div class="row" [hidden]="!addnewSurvey">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content p-xl">
                    <div class="row mt-2 m-3">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Sub Service Name</label>
                                </div>

                                <div class="col-md-8 form-group">
                                    <input autocomplete="off" minlength="3" tabindex="1" maxlength="150" class="form-control bold border border-secondary" formControlName="subServiceName" type="text" [ngClass]="{ 'is-invalid': submitted && f.subServiceName.errors }">
                                    <div *ngIf="submitted && f.subServiceName.errors" class="invalid-feedback">
                                        <div *ngIf="f.subServiceName.errors.required">Sub Service Name is required!</div>
                                        <div *ngIf="subServicesForm.controls['subServiceName'].errors?.minlength || subServicesForm.controls['subServiceName'].errors?.maxlength">
                                            Sub Servic Name should be greater than 3 and less than 150 characters!</div>
                                        <div *ngIf="f.subServiceName.errors.pattern">Only charcters are allowed!</div>
                                        <div *ngIf="f.subServiceName.errors.whitespace && !f.subServiceName.errors.required">Please enter valid data
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Sub Service Images</label>
                                </div>
                                <div class="col-md-8">
                                    <input autocomplete="off" tabindex="3" (change)="attachImage($event);" accept="image/x-png,image/jpg,image/jpeg" class="form-control p-1" type="file">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Select Service</label>
                                <div class="col-sm-8">
                                    <select class="form-control" tabindex="2" formControlName="serviceID" [ngClass]="{ 'is-invalid': submitted && f.serviceID.errors }">
                                  <option *ngFor="let p of serviceModelResponse" [value]="p.serviceID">
                                      {{p.serviceName}}
                                  </option>
                              </select>
                                    <div *ngIf="submitted && f.serviceID.errors" class="invalid-feedback">
                                        <div *ngIf="f.serviceID.errors.required">Select Category is required!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-4">
                                    <label>Is Active?</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input autocomplete="off" tabindex="4" class="form-control bold border border-secondary" (click)="isActiveCheck(IsActive.checked)" #IsActive formControlName="isActive" type="checkbox">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="col-md-2">
                            <label>Service Details</label>
                        </div>
                        <div class="col-md-10 form-group">
                            <!-- <input autocomplete="off" class="form-control bold border border-secondary" formControlName="infoDetail" type="text"> -->
                            <ckeditor tabindex="5" formControlName="subServiceDetails"></ckeditor>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div>
    <div class="row mt-2" [hidden]="!showSurvey">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped dt-responsive table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Sr.</th>
                                    <th>Servie Name</th>
                                    <th>Sub Service Name</th>
                                    <th>Is Active</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of subServiceModelResponse let ndx=index;">
                                    <td class="pt-4">{{ndx+1}}</td>
                                    <td class="pt-4">{{p.serviceName}}</td>
                                    <td class="pt-4">{{p.subServiceName}}</td>
                                    <td class="pt-4"> <input type="checkbox" value="{{p.isActive}}" [checked]="p.isActive" readonly onClick="return false">
                                    </td>
                                    <td class="pt-4">
                                        <button class="btn btn-secondary color text-white btn-sm m-1" (click)="editsubCat(p)" title="Edit"> <i class="fa fa-edit"
                                      aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
