<nav class="navbar-default navbar-static-side" id="bgcolor" role="navigation">
    <div class="sidebar-collapse ">
        <ul>
            <li class="nav-header bg bg-secondary" style="background-color: white !important;">
                <div class="dropdown profile-element ">
                    <!-- <img alt="image" class="img-responsive"
                                                src="../../../../assets//img//1616682659957.jpg" /> -->
                    <h1 class="heading pl-2">MENZIES-RAS</h1>
                    <a data-toggle=" dropdown" class="dropdown-toggle" href="#">

                    </a>
                </div>
                <div class="logo-element">
                    MR
                </div>
            </li>
        </ul>
        <ul class="nav metismenu" id="side-menu">
            <li>
                <a routerLink="/Dashboard" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                    <i class="fa fa-tachometer"></i>
                    <span class="hide-menu ml-2">DashBoard</span></a>
            </li>
            <li>
                <a routerLink="/category" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                    <i class="fa fa-sitemap"></i>
                    <span class="hide-menu ml-2 pr-5">Category</span></a>
            </li>
            <li>
                <a routerLink="/subCategory" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                    <i class="fa fa-sitemap"></i>
                    <span class="hide-menu ml-2 pr-5">Sub Category</span></a>
            </li>
            <li>
                <a routerLink="/service" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                    <i class="fa fa-superpowers"></i>
                    <span class="hide-menu ml-2 pr-5">Global Services</span></a>
            </li>
            <li>
                <a routerLink="/subservice" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                    <i class="fas fa-align-left"></i>
                    <span class="hide-menu ml-2 pr-5">Sub Services</span></a>
            </li>
            <li>
                <a routerLink="/general" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                    <i class="fa fa-barcode"></i>
                    <span class="hide-menu ml-2 pr-5">General</span></a>
            </li>
            <li>
                <a routerLink="/client" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                    <i class="fas fa-align-left"></i>
                    <span class="hide-menu ml-2 pr-5">Clients</span></a>
            </li>
            <li>
                <a routerLink="/news" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                    <i class="fas fa-newspaper"></i>
                    <span class="hide-menu ml-2 pr-5">News</span></a>
            </li>
            <li>
                <a routerLink="/certificate" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                    <i class="fas fa-align-left"></i>
                    <span class="hide-menu ml-2 pr-5">Certificate</span></a>
            </li>
            <li>
                <a routerLink="/team" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                    <i class="fas fa-user-friends"></i>
                    <span class="hide-menu ml-2 pr-5">Teams</span></a>
            </li>
            <li>
                <a routerLink="/ofcontact" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                    <i class="fa fa-building"></i>
                    <span class="hide-menu ml-2 pr-5">Office Contacts</span></a>
            </li>
            <li>
                <a routerLink="/stations" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                    <i class="fa fa-sitemap"></i>
                    <span class="hide-menu ml-2 pr-5">Stations</span></a>
            </li>

            <li>
                <a routerLink="/stationservice" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                    <i class="fas fa-school"></i>
                    <span class="hide-menu ml-2 pr-5">Station Services</span></a>
            </li>
            <li>
                <a routerLink="/substationservice" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                    <i class="fas fa-university"></i>
                    <span class="hide-menu ml-2 pr-5">Sub Station Services</span></a>
            </li>
            <li>
                <a routerLink="/stationcontactus" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                    <i class="fas fa-user"></i>
                    <span class="hide-menu ml-2 pr-5">Station Contact Us</span></a>
            </li>
            <!-- <li>
                <a routerLink="/contactstationstaff" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                    <i class="fas fa-align-left"></i>
                    <span class="hide-menu ml-2 pr-5">Contact Station Staff</span></a>
            </li> -->
            <li>
                <a routerLink="/Admin/AssignRoles" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                    <i class="fas fa-flag"></i>
                    <span class="hide-menu ml-2 pr-5">Roles</span></a>
            </li>
            <li>
                <a routerLink="/Admin/AssignGroupRoles" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                    <i class="fas fa-flag-checkered"></i>
                    <span class="hide-menu ml-2 pr-5">Assign Group Roles</span></a>
            </li>
        </ul>
    </div>
</nav>