/* .center {
    margin: auto;
    width: 100%;
    padding: 10px;
  }
  .wide {
    width:100%;
    height:165px;
    background-image: url('/assets/img/cklogo.png');
    background-size:cover;
  } */


/* .nav metismenu li {

    background-color: #203668 !important;
    padding-top: 0px !important;
  }*/

.nav-header {
    padding: 0px 0px 0px 0px;
}

.heading {
    padding-top: 12px;
    padding-bottom: 11px;
    background-color: white;
    font-style: italic;
    border-top: #1e3669;
    border-bottom: #1e3669;
    border-top-style: solid;
    border-bottom-style: solid;
}

.navbar-default {
    position: fixed;
    width: 300px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}