<div class="row white-bg ml-2 mb-2 mr-2 ModuleName">
    <div class="col-lg-4 Adjust">
        <h2 class="text-white">Contact Station Staff</h2>
    </div>
    <div class="col-lg-8 Adjust">
        <button type="button" class="btn btn-w-m btn-secondary mt-3 mr-5 float-right" [hidden]="!showCancelButton" (click)="showhide('Cancel')"><i class="fa fa-times "></i> Cancel </button>
        <button type="submit" class="btn btn-w-m btn-light mt-3 mr-2 text-black float-right" [hidden]="!showeditButton" (click)="addStationContactStaff()"><i class="fa fa-pencil"></i> Update </button>
        <button type="submit" class="btn btn-w-m btn-light mt-3 mr-2 text-black float-right" [hidden]="!showSaveButton" (click)="addStationContactStaff()"><i class="fa fa-check "></i>Save </button>
        <button type="button" class="btn btn-w-m btn-light mt-3 mr-5 text-black float-right" [hidden]="!shownewButton" (click)="showhide('New')"><i class="fa fa-plus"></i>
      Add New Conatact Staff </button>
    </div>
</div>
<form [formGroup]="contactStationForm" role="form">
    <div class="row" [hidden]="!addnewSurvey">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content p-xl">
                    <div class="row mt-2 m-3">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Staff Designation</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input autocomplete="off" tabindex="1" class="form-control bold border border-secondary" formControlName="staffDesignation" type="text" [ngClass]="{ 'is-invalid': submitted && f.staffDesignation.errors }">
                                    <div *ngIf="submitted && f.staffDesignation.errors" class="invalid-feedback">
                                        <div *ngIf="f.staffDesignation.errors.required">Staff Designation is required!</div>

                                        <div *ngIf="f.staffDesignation.errors.whitespace && !f.staffDesignation.errors.required">Please enter valid data
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Is Active?</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input autocomplete="off" tabindex="3" class="form-control bold border border-secondary" (click)="isActiveCheck(IsActive.checked)" #IsActive formControlName="isActive" type="checkbox">
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Select Station</label>
                                <div class="col-sm-8">
                                    <select class="form-control" tabindex="2" formControlName="stationId">
                    <option *ngFor="let p of stationModelResponse" [value]="p.stationId">
                      {{p.stationName}}
                    </option>
                  </select>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div>
    <div class="row mt-2" [hidden]="!showSurvey">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-striped dt-responsive table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Sr.</th>
                                    <th>Staff Designation</th>
                                    <th>Station Name</th>
                                    <th>isActive</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of contactStationStaffModelResponse let ndx=index;">
                                    <td>{{ndx+1}}</td>
                                    <td>{{p.staffDesignation}}</td>
                                    <td>{{p.stationName}}</td>
                                    <td> <input type="checkbox" value="{{p.isActive}}" [checked]="p.isActive" readonly onClick="return false">
                                    </td>
                                    <td>
                                        <button class="btn btn-secondary color text-white btn-sm m-1" (click)="editStationContactStaff(p)" title="Edit"> <i class="fa fa-edit" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>