<div class="row white-bg ml-2 mb-2 mr-2 ModuleName">
    <div class="col-lg-4 Adjust">
        <h2 class="text-white">Services</h2>
    </div>
    <div class="col-lg-8 Adjust">
        <button type="button" class="btn btn-w-m btn-secondary mt-3 mr-5 float-right" [hidden]="!showCancelButton" (click)="showhide('Cancel')"><i class="fa fa-times "></i> Cancel </button>
        <button type="submit" tabindex="6" class="btn btn-w-m btn-light mt-3 mr-2 text-black float-right" [hidden]="!showeditButton" (click)="addService()"><i class="fa fa-pencil"></i> Update </button>
        <button type="submit" class="btn btn-w-m btn-light mt-3 mr-2 text-black float-right" [hidden]="!showSaveButton" (click)="addService()"><i class="fa fa-check "></i>
          Save </button>
        <button type="button" class="btn btn-w-m btn-light mt-3 mr-5 text-black float-right" [hidden]="!shownewButton" (click)="showhide('New')"><i class="fa fa-plus"></i>
          Add New Services </button>
    </div>
</div>

<form [formGroup]="serviceForm" role="form">
    <div class="row" [hidden]="!addnewSurvey">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content p-xl">
                    <div class="row  ml-3 mr-3">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Service Name</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input autocomplete="off" tabindex="1" class="form-control bold border border-secondary" formControlName="serviceName" type="text" [ngClass]="{ 'is-invalid': submitted && f.serviceName.errors }">
                                    <div *ngIf="submitted && f.serviceName.errors" class="invalid-feedback">
                                        <div *ngIf="f.serviceName.errors.required">Service Name is required!</div>
                                        <div *ngIf="f.serviceName.errors.whitespace && !f.serviceName.errors.required">Please enter valid data.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Service Image</label>
                                </div>
                                <div class="col-md-8">
                                    <input autocomplete="off" tabindex="3" (change)="attachImage($event);" class="form-control p-1" accept="image/x-png,image/jpg,image/jpeg" type="file">
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="row">
                                <div class="col-md-4">
                                    <label>Dis seq</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input autocomplete="off" tabindex="2" minlength="1" maxlength="10" class="form-control bold border border-secondary" (keypress)="numberOnly($event)" formControlName="disSeq" type="text" [ngClass]="{ 'is-invalid': submitted && f.disSeq.errors }">
                                    <div *ngIf="submitted && f.disSeq.errors" class="invalid-feedback">
                                        <div *ngIf="f.disSeq.errors.required">DisSeq is required!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-4">
                                    <label>Is Active?</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input autocomplete="off" tabindex="4" class="form-control bold border border-secondary" (click)="isActiveCheck(IsActive.checked)" #IsActive formControlName="isActive" type="checkbox">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row ml-3 mr-3">
                        <div class="col-md-2">
                            <label>Service Description</label>
                        </div>
                        <div class="col-md-10 form-group">
                            <textarea autocomplete="off" tabindex="5" minlength="1" maxlength="400" class="form-control bold border border-secondary" formControlName="serviceDescription" type="text" [ngClass]="{ 'is-invalid': submitted && f.serviceDescription.errors }"></textarea>
                            <div *ngIf="submitted && f.serviceDescription.errors" class="invalid-feedback">
                                <div *ngIf="f.serviceDescription.errors.required">Service Description is required!</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<div>
    <div class="row mt-2" [hidden]="!showSurvey">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-striped dt-responsive table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Sr.</th>
                                    <th>Service Name</th>
                                    <th>Dis Seq.</th>
                                    <th>IsActive</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of serviceModelResponse let ndx=index;">
                                    <td>{{ndx+1}}</td>
                                    <td>{{p.serviceName}}</td>
                                    <td>{{p.disSeq}}</td>
                                    <td> <input type="checkbox" value="{{p.isActive}}" [checked]="p.isActive" readonly onClick="return false">
                                    </td>
                                    <td>
                                        <button class="btn btn-secondary color text-white btn-sm m-1" title="Edit" (click)="editService(p)"> <i class="fa fa-edit"
                                            aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>