<div id="wrapper">
    <!-- <div class="loader_div">
        <div class="loader">
        </div>
    </div> -->
    <app-leftmenu></app-leftmenu>
    <div id="page-wrapper" class="gray-bg">
        <app-topbar></app-topbar>
        <router-outlet></router-outlet>
    </div>
</div>
