<div class="row white-bg ml-2 mb-2 mr-2 ModuleName">
    <div class="col-lg-4 Adjust">
        <h2 class="text-white">Office Contacts</h2>
    </div>
    <div class="col-lg-8 Adjust">
        <button type="button" class="btn btn-w-m btn-secondary mt-3 mr-5 float-right" [hidden]="!showCancelButton" (click)="showhide('Cancel')"><i class="fa fa-times "></i> Cancel </button>
        <button type="submit" class="btn btn-w-m btn-light mt-3 mr-2 text-black float-right" [hidden]="!showeditButton" (click)="addOfcContacts()"><i class="fa fa-pencil"></i> Update </button>
        <button type="submit" class="btn btn-w-m btn-light mt-3 mr-2 text-black float-right" [hidden]="!showSaveButton" (click)="addOfcContacts()"><i class="fa fa-check "></i>Save </button>
        <button type="button" class="btn btn-w-m btn-light mt-3 mr-5 text-black float-right" [hidden]="!shownewButton" (click)="showhide('New')"><i class="fa fa-plus"></i>
    Add New Contact </button>
    </div>
</div>
<form [formGroup]="ofcContactForm" role="form">
    <div class="row" [hidden]="!addnewSurvey">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content p-xl">
                    <div class="row mt-2 m-3">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Office Name</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input autocomplete="off" tabindex="1" class="form-control bold border border-secondary" formControlName="ofcName" type="text" [ngClass]="{ 'is-invalid': submitted && f.ofcName.errors }">
                                    <div *ngIf="submitted && f.ofcName.errors" class="invalid-feedback">
                                        <div *ngIf="f.ofcName.errors.required">Office Name is required!</div>
                                        <div *ngIf="f.ofcName.errors.whitespace && !f.ofcName.errors.required">Please enter valid data
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Office Head Name</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input tabindex="3" autocomplete="off" class="form-control bold border border-secondary" formControlName="ofcHeadName" type="text" [ngClass]="{ 'is-invalid': submitted && f.ofcHeadName.errors }">
                                    <div *ngIf="submitted && f.ofcHeadName.errors" class="invalid-feedback">
                                        <div *ngIf="f.ofcHeadName.errors.required">Office Head Name is required!</div>

                                        <div *ngIf="f.ofcHeadName.errors.whitespace && !f.ofcHeadName.errors.required">Please enter valid data
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Head Designation</label>
                                </div>

                                <div class="col-md-8 form-group">
                                    <input autocomplete="off" tabindex="5" class="form-control bold border border-secondary" formControlName="ofcHeadDesignation" type="text" [ngClass]="{ 'is-invalid': submitted && f.ofcHeadDesignation.errors }">
                                    <div *ngIf="submitted && f.ofcHeadDesignation.errors" class="invalid-feedback">
                                        <div *ngIf="f.ofcHeadDesignation.errors.required">Head Designation is required!</div>

                                        <div *ngIf="f.ofcHeadDesignation.errors.whitespace && !f.ofcHeadDesignation.errors.required">Please enter valid data
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Dis seq</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input autocomplete="off" tabindex="7" minlength="1" maxlength="10" class="form-control bold border border-secondary" (keypress)="numberOnly($event)" formControlName="disSeq" type="text" [ngClass]="{ 'is-invalid': submitted && f.disSeq.errors }">
                                    <div *ngIf="submitted && f.disSeq.errors" class="invalid-feedback">
                                        <div *ngIf="f.disSeq.errors.required">DisSeq is required!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Is Active?</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input autocomplete="off" tabindex="9" class="form-control bold border border-secondary" (click)="isActiveCheck(IsActive.checked)" #IsActive formControlName="isActive" type="checkbox">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Office Address</label>
                                </div>

                                <div class="col-md-8 form-group">
                                    <input autocomplete="off" tabindex="2" class="form-control bold border border-secondary" formControlName="ofcAddress" type="text" [ngClass]="{ 'is-invalid': submitted && f.ofcAddress.errors }">
                                    <div *ngIf="submitted && f.ofcAddress.errors" class="invalid-feedback">
                                        <div *ngIf="f.ofcAddress.errors.required">Office Address is required!</div>

                                        <div *ngIf="f.ofcAddress.errors.whitespace && !f.ofcAddress.errors.required">Please enter valid data
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Head Email</label>
                                </div>

                                <div class="col-md-8 form-group">
                                    <input autocomplete="off" tabindex="4" minlength="3" maxlength="150" class="form-control bold border border-secondary" formControlName="ofcHeadEmail" type="text" [ngClass]="{ 'is-invalid': submitted && f.ofcHeadEmail.errors }">
                                    <div *ngIf="submitted && f.ofcHeadEmail.errors" class="invalid-feedback">
                                        <div *ngIf="f.ofcHeadEmail.errors.required">Head Email is required!</div>

                                        <div *ngIf="ofcContactForm.controls['ofcHeadEmail'].errors?.pattern">Email Not Correct!</div>
                                        <div *ngIf="f.ofcHeadEmail.errors.whitespace && !f.ofcHeadEmail.errors.required">Please enter valid data
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Head Phone</label>
                                </div>

                                <div class="col-md-8 form-group">
                                    <input autocomplete="off" tabindex="6" minlength="3" maxlength="150" class="form-control bold border border-secondary" mask="000-0000000" (keypress)="numberOnly($event)" formControlName="ofcHeadPhone" type="text" [ngClass]="{ 'is-invalid': submitted && f.ofcHeadPhone.errors }">
                                    <div *ngIf="submitted && f.ofcHeadPhone.errors" class="invalid-feedback">
                                        <div *ngIf="f.ofcHeadPhone.errors.required">Head Phone is required!</div>

                                        <div *ngIf="ofcContactForm.controls['ofcHeadPhone'].errors?.pattern">Phone Not Correct!</div>
                                        <div *ngIf="f.ofcHeadPhone.errors.whitespace && !f.ofcHeadPhone.errors.required">Please enter valid data
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Select Map</label>
                                <div class="col-sm-8">
                                    <select class="form-control" tabindex="8" formControlName="mapId" [ngClass]="{ 'is-invalid': submitted && f.mapId.errors }">
                                  <option *ngFor="let p of MapResponse" [value]="p.mapId">
                                      {{p.mapName}}
                                  </option>
                              </select>
                                    <div *ngIf="submitted && f.mapId.errors" class="invalid-feedback">
                                        <div *ngIf="f.mapId.errors.required">Select Category is required!</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div>
    <div class="row mt-2" [hidden]="!showSurvey">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-striped dt-responsive table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Sr.</th>
                                    <th>Office Name</th>
                                    <th>Office Head Name</th>
                                    <th>Office Head Designation</th>
                                    <th>DisSeq.</th>
                                    <th>IsActive.</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of ofcContactModelResponse let ndx=index;">
                                    <td>{{ndx+1}}</td>
                                    <td>{{p.ofcName}}</td>
                                    <td>{{p.ofcHeadName}}</td>
                                    <td>{{p.ofcHeadDesignation}}</td>
                                    <td>{{p.disSeq}}</td>
                                    <td> <input type="checkbox" value="{{p.isActive}}" [checked]="p.isActive" readonly onClick="return false">
                                    </td>
                                    <td>
                                        <button class="btn btn-secondary color text-white btn-sm m-1" (click)="editOfcContact(p)" title="Edit"> <i class="fa fa-edit" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>