<div class="row white-bg ml-2 mb-2 mr-2 ModuleName">
    <div class="col-lg-4 Adjust">
        <h2 class="text-white">Certificate</h2>
    </div>
    <div class="col-lg-8 Adjust">
        <button type="button" class="btn btn-w-m btn-secondary mt-3 mr-5 float-right" [hidden]="!showCancelButton" (click)="showhide('Cancel')"><i class="fa fa-times "></i> Cancel </button>
        <button type="submit" class="btn btn-w-m btn-light mt-3 mr-2 text-black float-right" [hidden]="!showeditButton" (click)="addCertificate()"><i class="fa fa-pencil"></i> Update </button>
        <button type="submit" class="btn btn-w-m btn-light mt-3 mr-2 text-black float-right" [hidden]="!showSaveButton" (click)="addCertificate()"><i class="fa fa-check "></i>Save </button>
        <button type="button" class="btn btn-w-m btn-light mt-3 mr-5 text-black float-right" [hidden]="!shownewButton" (click)="showhide('New')"><i class="fa fa-plus"></i>
      Add New Certificate </button>
    </div>
</div>
<form [formGroup]="certificateForm" role="form">
    <div class="row" [hidden]="!addnewSurvey">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content p-xl">
                    <div class="row mt-2 ml-3 mr-3">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Certificate Name</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input autocomplete="off" tabindex="1" class="form-control bold border border-secondary" formControlName="certificateName" type="text" [ngClass]="{ 'is-invalid': submitted && f.certificateName.errors }">
                                    <div *ngIf="submitted && f.certificateName.errors" class="invalid-feedback">
                                        <div *ngIf="f.certificateName.errors.required">Certificate Name Name is required!</div>

                                        <div *ngIf="f.certificateName.errors.whitespace && !f.certificateName.errors.required">Please enter valid data
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Dis seq</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input autocomplete="off" minlength="1" tabindex="2" maxlength="10" class="form-control bold border border-secondary" (keypress)="numberOnly($event)" formControlName="disSeq" type="text" [ngClass]="{ 'is-invalid': submitted && f.disSeq.errors }">
                                    <div *ngIf="submitted && f.disSeq.errors" class="invalid-feedback">
                                        <div *ngIf="f.disSeq.errors.required">DisSeq is required!</div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Certificate Logo</label>
                                </div>
                                <div class="col-md-8">
                                    <input autocomplete="off" tabindex="2" (change)="attachImage($event);" class="form-control p-1" accept="image/x-png,image/jpg,image/jpeg" type="file">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-4">
                                    <label>Is Active?</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input autocomplete="off" tabindex="3" class="form-control bold border border-secondary" (click)="isActiveCheck(IsActive.checked)" #IsActive formControlName="isActive" type="checkbox">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ml-3 mr-3">
                        <div class="col-md-2">
                            <label>Description</label>
                        </div>
                        <div class="col-md-10 form-group">
                            <textarea autocomplete="off" tabindex="4" class="form-control bold border border-secondary" formControlName="certificateDescription" type="text" [ngClass]="{ 'is-invalid': submitted && f.certificateDescription.errors }"></textarea>
                            <div *ngIf="submitted && f.certificateDescription.errors" class="invalid-feedback">
                                <div *ngIf="f.certificateDescription.errors.required">DisSeq is required!</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div>
    <div class="row mt-2" [hidden]="!showSurvey">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-striped dt-responsive table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Sr.</th>
                                    <th>Certificate Name</th>
                                    <th>Certificate Logo</th>
                                    <th>Dis Seq.</th>
                                    <th>Is Active</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of certificateModelResponse let ndx=index;">
                                    <td class="pt-4">{{ndx+1}}</td>
                                    <td class="pt-4">{{p.certificateName}}</td>
                                    <td>
                                        <div><img src="{{p.certificateLogo}}" alt="user image" class="img-radius align-top" style="width: 85px;height: 50px;">
                                        </div>
                                    </td>
                                    <td class="pt-4">{{p.disSeq}}</td>
                                    <td class="pt-4"> <input type="checkbox" value="{{p.isActive}}" [checked]="p.isActive" readonly onClick="return false">
                                    </td>
                                    <td class="pt-4">
                                        <button class="btn btn-secondary color text-white btn-sm m-1" (click)="editCertificate(p)" title="Edit"> <i class="fa fa-edit" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>